html {
  // We will be working with rem instead of pixels
  // Since 1rem = 16px, we set a default conversion percentage
  // with this font-size, just divide your intended px value by 10.
  // 22px becomes 2.2rem, 10px becomes 1rem, etc.
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}
body {
  // Alegreya is not available by default.
  // There is a link to google fonts on the index.html file.
  // This link gives us access to both Alegreya and Lato
  // font-family: 'Alegreya', sans-serif, Helvetica;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem; // equivalent to the default 16px font-size
  background: $brand-color;
  margin: 0;
  margin-bottom: 124px;
}

.container {
  padding-left: 14%;
  padding-right: 14%;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

h5 {
  display: inline;
  font-weight: $medium;
  font-size: 1.2rem;
}