// Colors
$white: rgba(255,255,255,1);
$brand-color: #F4F8FB;
$black: rgba(9, 10, 11, 1);
$opaque-black: rgba(9, 10, 11, 0.5);

// fonts
$medium: 500;
$regular: 400;
$bold: 700;
$light: 300;

// Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$l-pd-size: 11.3rem;

